/* I chose the colors because they are the main colors of Wario, the main character in my game.
I also chose Yellow to represent fun, as my game is meant to be fun to play, and make people's day a little better. 
I chose purple because it can sometimes represent arrogance, which fits the character of Wario well. */

/*This styles the content in the body tag to be centered, changes the font to Arial, helvetica sans serif, and changes the background color to the color #252525*/

body {
  text-align: center;
  align-content: center;
  font-family: 'Arial', Helvetica, sans-serif;
  background-color: #252525;
}
/*This styles content in the header to be centered, changes the font to Arial, helvetica sans serif, and changes the font size to 16px*/
header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
/*This styles the header and main to have a width of 85%, a margin to the left of 15% and changes the text color to #e5e5e5*/
header, main {
  width: 85%;

  margin-left: 15%;

  color: #e5e5e5;
}

/* Code taken from W3schools*/
nav {
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 0px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background-color: #573e5c;
  height: 100%;
  width: 15%;
}

nav ul {
  list-style: none;

  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
  display: inline-block;

  width: 75%;

  margin-bottom: 15px;
  border: 2px solid transparent;
  padding: 20px 8px;

  background-color: #ded17f  ;
  color: #121212;

  font-weight: bolder;
  text-decoration: none;

  transition: ease-in-out 0.7s;
}


/* Highlights appear when the links are hovered over */
.nav-links:hover {
  display: inline-block;
  background-color: #121212;
  color: #e5e5e5;
  font-style: italic;

  border: 2px solid #ded17f  ;
  border-radius:50%;
}
/*This styles h1s to have a width of 63%, a margin of 15px, a padding of 10px, 0px, and changes the background color to 573e5c*/
h1 {
  width: 63%;

  margin: 15px auto;

  padding: 10px 0;

  background-color: #573e5c;
}
